# Python Stuff
*.pyc
__pycache__

# Virtural Env
/venv*/
/.venv*/
/venv*
/.venv*

# PyCharm Projects
.idea/

# VS Code
.vscode/
*.code-workspace

# Artifacts
dev_phases/**/*
*.log

# pyenv stuff
.python-version
